#top-bar {
    position        : relative;
    background-color: $primaryColor;
    font-size       : 12px;
    border-bottom   : 1px solid $primaryColor;
    padding         : 6px 0;
    color           : #fff;

    .widget_text {
        display       : inline-block;
        vertical-align: middle;
    }

    .column-left {
        &.col {
            text-align: left;
            @include mediaQuery(767px) {
                -ms-flex  : 0 0 auto;
                flex      : 0 0 auto;
                width     : 100%;
                max-width : 100%;
                text-align: center;
               
            }
        }
    }
.column-middle{
    &.col {
        text-align: center;
        @include mediaQuery(767px) {
            -ms-flex  : 0 0 auto;
            flex      : 0 0 auto;
            width     : 100%;
            max-width : 100%;
            text-align: center;
           
        }
    } 
}
    .column-right {
        ul {
            display        : flex;
            justify-content: flex-end;
            align-content  : center;
            align-items    : center;
            margin         : 0px;
            @include mediaQuery(767px) {
                justify-content: center;
            }
            li {
                padding:0 10px;
                a {
                    color      : #fff;
                    font-size  : 1em;
                    line-height: 26px;
                }
            }
        }

        &.col {
            text-align:right;
            @include mediaQuery(767px) {
                -ms-flex  : 0 0 auto;
                flex      : 0 0 auto;
                width     : 100%;
                max-width : 100%;
                text-align: center;
            }
        }
    }

    .column-middle {
        &.col {
            @include mediaQuery(767px) {
                -ms-flex : 0 0 auto;
                flex     : 0 0 auto;
                width    : 100%;
                max-width: 100%;
            }
        }
    }

    p {
        margin        : 0px;
        font-size     : 1em;
        color         : #fff;
        line-height   : 23px;
        font-style    : normal;
        font-weight   : 500;
        letter-spacing: -1px;
        text-transform: none
    }

    ul.social-links {
        // @include horizontal-list;
        text-align: right;
        margin    : 0px;
    }

    ul.social-links {
        li {
            color  : #fff;
            margin : 0 7px 0 0;
            display: inline-block;

            a {
                color: #fff;
            }
        }
    }
}